$base-color: #e8e8e8;

.content-box {
  div {
    min-height: 100px;
    border: 1px solid lighten($base-color, 2%);
    color: $base-color;

    .fa-chevron-left {
      font-size: 2em;
      left: -17px;
      position: relative;
      cursor: pointer;
    }

    .fa-chevron-right {
      font-size: 2em;
      right: -26px;
      position: relative;
      cursor: pointer;
    }
  }
}
